/* General Styles */
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1.6;
    min-height: 100vh;
    background-color: var(--soft-gray-color);
    color: var(--medium-color);
}

/* Base Styles */
:root {
    font-family: 'Segoe ui', sans-serif;
    --box-width: 35vw;
    --black-color: #020402;
    --light-gray-color: #f9f9f9;
    --medium-gray-color: #d9d9d9;
    --soft-gray-color: #e5e5e5;
    --dark-gray-color: #393F3D ;
    --deep-brown-color: #7a5230;
    --warm-brown-color: #ba9067;
    --pro-brown-color: #7a5c52;
    --color-shadow: rgba(0,0,0,0.3);
}

/* conact start css: */
.contact-container {
    display: flex;
    width: 100%;
    margin: 0 auto;

    /* Center the container */
    padding: 40px;
    background: var(--light-gray-color);
    font-family: Arial, sans-serif;
    box-sizing: border-box;

    /* Include padding in width calculations */
}

.contact-header {
    flex: 1;
    width: 50%;

    /* Set to 50% width */
    padding-right: 10%;

    /* Add spacing between text and form */
    padding-left: 5%;

    /* Add spacing between text and form */
    box-sizing: border-box;

    /* Include padding in width calculations */
}

.contact-header h2 {
    font-size: 3rem;
    color: var(--dark-gray-color);
    margin-bottom: 20px;
}

.contact-header p {
    font-size: 16px;
    color: var(--dark-gray-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    font-size: 16px;
    color: var(--dark-gray-color);
    margin-bottom: 10px;
}

.contact-info strong {
    color: var(--dark-gray-color);
}

.contact-form {
    flex: 1;
    width: 50%;

    /* Set to 50% width */
    background: var(--light-gray-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--color-shadow);
    box-sizing: border-box;

    /* Include padding in width calculations */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: var(--dark-gray-color);
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--medium-gray-color);
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    background: var(--light-gray-color);
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--color-black);
    color: var(--light-gray-color);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-black);
}

/* contac end css: */
/* reviews start css: */
/* Review System Wrapper */
.review-system-wrapper {
    position: absolute;
    top: 30vh;

    /* Adjust this to move the entire system */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Review Wrapper */
.review-wrapper {
    position: relative;
    width: 100%;
    //overflow: hidden;
    top: 40vh;
    transform: translateY(-50%);
}

.review-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
    padding: 0 60px;
}

.review-card {
    flex: 0 0 calc(33.33% - 14px);
    padding: 25px;
    background: var(--light-gray-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--color-shadow);
    min-height: 60vh;
    box-sizing: border-box;
    opacity: 0.0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-image {
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: auto;

    /* Pushes image to bottom */
}

.review-card.active {
    opacity: 1;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.stars {
    color: var(--warm-brown-color);
    font-size: 1.2em;
}

.review-date {
    color: var(--dark-gray-color);
    font-size: 0.9em;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--light-gray-color);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px var(--color-shadow);
    cursor: pointer;
    font-size: 1.2em;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* reviews end css: */
/* pt Container */
/* Project Section */
.project-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--soft-gray-color);
    position: relative;
}

.project-section2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--dark-gray-color);
    position: relative;
}

.project-section3 {
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--medium-gray-color);
    position: relative;
}

.shadow-line {
    height: 3vh;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--dark-gray-color);
    box-shadow: 0px 4px 4px var(--color-shadow);
}

.line1-number {
    height: 10%;
    width: 40%;
    position: absolute;
    left: 5%;
    top: 1%;
    color: var(--warm-brown-color);
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.line1-text {
    height: 10%;
    width: 50%;
    position: absolute;
    left: 52%;
    top: 1%;
    color: var(--warm-brown-color);
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.Big-Header {
    position: absolute;
    left: 50%;
    top: 12vh;
    transform: translateX(-50%);
    text-align: center;
    color: var(--warm-brown-color);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    white-space: nowrap;

    /* Prevents line breaks */
    /* Creates the line */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-section,
.right-section {
    flex: 1;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-section {
    background-color: var(--medium-gray-color);

    /* Light grey */
    align-items: center;
    position: relative;
}

.left-section::before {
    content: "01";
    font-size: 5vw;
    color: var(--deep-brown-color);
    position: absolute;
    top: 5vw;
    left: 5vw;
}

.line {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 95%;

    /* Adjusted to fill 95% width */
    height: 2px;
    background-color: var(--deep-brown-color);
}

.right-section {
    background-color: var(--light-gray-color);

    /* Slightly darker grey */
    color: var(--dark-gray-color);
    text-align: left;
}

.text-container {
    margin: 0;
}

.text-container h1 {
    font-size: 2.5vw;
    color: var(--deep-brown-color);
    display: inline-block;
    padding-bottom: 0.5vw;
}

.text-container p {
    font-size: 1.2vw;
    margin: 2vw 0;
}

.client-quote {
    font-size: 1.2vw;
    background-color: var(--warm-brown-color);
    color: var(--light-gray-color);
    padding: 1.5vw;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--color-shadow);
    align-items: center;
}

.portfolio-section-2 {
    display: grid;

    /* Stack images in the same grid cell */
    position: relative;

    /* Needed for section-based scroll calculations */
    width: 100vw;
    height: auto;
    overflow: hidden;

    /* Clip images outside the section */
}

/* Make only images with the 'active' class visible */
.portfolio-section-1 img.active:not(.cover2-image) {
    opacity: 1;

    /* Visible when active */
}

/* Intro Container */
#intro-container {
    --container-width: 50%;
    position: absolute;
    top: 35%;
    left: calc(var(--container-width) / 2);
    transform: translate(-50%, -50%);
    width: calc(var(--container-width) * 0.8);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 4;
}

/* Intro Title */
#intro-title {
    color: var(--black-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* Parallax Image */
.paralex-image {
    height: 120%;
    bottom: -50px;
    position: absolute;
    transform: translate(0%, 0px);

    /* Initial position */
    will-change: transform;

    /* Optimizes animation performance */
}

/* Navigation Bar Styles */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1.5em;
    padding-right: 1em;

    /* Center items vertically */
    /* Align to the right */
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;

    /* Ensure padding is included in width */
}

/* logo Image */
.logo-image {
    width: 95vw;
    bottom: 25px;
    left: 50%;

    /* Center horizontally */
    transform: translateX(-50%);

    /* Adjust position to account for the element's width */
    position: absolute;
}

.flag {
    color: var(--light-gray-color);
    margin: 0.4em;
    position: relative;
    text-decoration: none;

    /* Remove default link underline */
}

/* Intro Text */
#intro-text {
    color: var(--black-color);
    font-size: 1rem;
}

/* Underline pseudo-element */
.language-selector::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--underline-left, 0);
    width: var(--underline-width, 0);
    height: 2px;
    background: var(--light-gray-color);
    transition: left 0.3s, width 0.3s;
}

.bt1-image {
    height: 88vh;
    max-width: 50vh;
    width: auto;

    /* Ensures aspect ratio is maintained */
    object-fit: contain;

    /* Ensures the whole image is visible without distortion */
    top: 12%;
    left: 25%;
    transform: translateX(-50%);
    position: absolute;
}

.bt2-image {
    top: 25%;
    width: 50vh;
    left: 25%;
    transform: translateX(-50%);
    position: absolute;
}

.bt3-image {
    width: 40vw;
    top: 25%;
    object-fit: contain;
    left: 5%;
    position: absolute;
}

@media (max-aspect-ratio: 5/4) {
    .flag {
        color: var(--black-color);
    }

    .language-selector::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: var(--underline-left, 0);
        width: var(--underline-width, 0);
        height: 2px;
        background: var(--black-color);
        transition: left 0.3s, width 0.3s;
    }
}

.white-cover {
    background-color: var(--light-gray-color);
    opacity: 0.4;

    /* White background */
    position: relative;

    /* Relative positioning */
    margin-left: auto;

    /* Automatically push the box to the right */
    margin-right: 0;

    /* Optional, to ensure no extra space on the right */
    width: 50%;

    /* Example width */
    height: 100%;

    /* Example height */
    z-index: 3;
}

/* General styles for slideshow images in .portfolio-section-1 */
.portfolio-section-1 img:not(.cover2-image) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;

    /* Default hidden */
    transition: opacity 1s ease-in-out;
}

/* end */
.portfolio-section-1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* pt Container */
#pt1-container {
    position: absolute;

    /* Layer it on top without pushing other elements */
    top: 50%;

    /* Center vertically */
    left: 77%;

    /* Center horizontally */
    transform: translate(-50%, -50%);

    /* Perfect centering */
    display: flex;
    flex-direction: column;

    /* Stack the title and text */
    align-items: center;

    /* Center horizontally */
    text-align: center;
    z-index: 4;

    /* Ensure it's above all images */
}

/* Full-height container */
.full-height-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    background-color: transparent;
    position: relative;
}

.image-container {
    height: 100vh;
    width: 50%;
    background-color: var(--soft-gray-color);
    position: absolute;
    right: 0;
}

.image-container2 {
    height: 100vh;
    width: 50%;
    background-color: var(--medium-gray-color);
    position: absolute;
    right: 0;
}

.text-container {
    height: 100vh;
    width: 50%;
    background-color: var(--medium-gray-color);
    position: absolute;
    left: 0;
}

.text-container2 {
    height: 100vh;
    width: 50%;
    background-color: var(--soft-gray-color);
    position: absolute;
    left: 0;
}

.box1-text {
    height: 80%;
    width: 35%;
    position: absolute;
    left: 52%;
    top: 25%;
    color: var(--warm-brown-color);
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.line1 {
    height: 1vh;
    width: 95%;
    background-color: var(--warm-brown-color);
    position: absolute;
    right: 0;
    top: 10%;
}

.paralex-image2 {
    grid-column: 1;
    grid-row: 1;
    width: 100vw;
    height: auto;
    object-fit: cover;

    /* Ensures image fills the space without distortion */
    /* Height is consistent across images */
    will-change: transform;

    /* Optimize for smooth animations */
    transform: translateY(0px);

    /* Initial position (overridden by JS) */
}

#pt1-container2 {
    grid-column: 1;
    grid-row: 1;

    /* Keep it in the same grid layer as images */
    /* Position at the top but centered horizontally */
    align-self: start;
    justify-self: center;

    /* Add margin to push it down slightly */
    margin-top: 50vh;

    /* Adjust this value to fine-tune */
    /* Ensure it's above images */
    z-index: 4;

    /* Flexbox for content alignment */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* pt Container */
/* pt Title */
#pt1-header {
    color: var(--black-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#pt1-header2 {
    color: var(--soft-gray-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* pt Text */
#pt1-text {
    color: var(--black-color);
    font-size: 1rem;
}

#pt1-text2 {
    color: var(--soft-gray-color);
    font-size: 1rem;
    margin-left: 20%;
    margin-right: 20%;
}

/* phone */
@media (max-aspect-ratio: 1/1) {
    #pt1-header2 {
        color: var(--soft-gray-color);
        font-size: 6.5vw;
        margin-bottom: 1rem;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* pt Container */
    #pt1-container {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 4;
        width: 80%;
    }

    #pt1-text2 {
        color: var(--soft-gray-color);
        font-size: 2.5vw;
        margin-left: 20%;
        margin-right: 20%;
    }

    .box1-text {
        text-align: center;
        height: 35%;
        width: 80%;
        position: absolute;
        left: 50%;
        top: 65%;
        color: var(--warm-brown-color);
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
        transform: translateX(-50%);
    }

    #pt1-container2 {
        grid-column: 1;
        grid-row: 1;

        /* Keep it in the same grid layer as images */
        /* Position at the top but centered horizontally */
        align-self: start;
        justify-self: center;

        /* Add margin to push it down slightly */
        margin-top: 5vh;

        /* Adjust this value to fine-tune */
        /* Ensure it's above images */
        z-index: 4;

        /* Flexbox for content alignment */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image-container {
        height: 100vh;
        width: 0%;
        right: 50%;
        background: transparent;
        position: absolute;
        right: 0;
        display: none;
    }

    .image-container2 {
        height: 100vh;
        width: 50%;
        background: transparent;
        position: absolute;
        right: 25%;
        display: none;
    }

    .full-height-container {
        height: 95vh;
    }

    .line1 {
        width: 1vh;
        height: 13%;
        background-color: var(--warm-brown-color);
        position: absolute;
        left: 0;
        top: 0%;
    }

    .bt1-image {
        height: 38vh;
        top: 22%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    .bt2-image {
        height: auto;
        width: 50vw;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    .bt3-image {
        height: auto;
        width: 80vw;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    .text-container {
        display: none;
    }

    .text-container2 {
        display: none;
    }

    /* General styles for slideshow images in .portfolio-section-1 */
    .portfolio-section-1 img:not(.cover2-image) {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(calc(-50% + (39% / 2)), -50%);
        height: auto;
        width: min(160vw, calc(100vh * 0.9));
        object-fit: contain;

        /* Using a larger crop percentage to ensure it never shows the right side */
        clip-path: inset(0 39% 0 0);
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .white-cover {
        display: none;
    }

    .flag {
        color: var(--light-gray-color);
        margin: 0.4em;
        position: relative;
        text-decoration: none;
    }

    .language-selector::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: var(--underline-left, 0);
        width: var(--underline-width, 0);
        height: 2px;
        background: var(--light-gray-color);
        transition: left 0.3s, width 0.3s;
    }

    /* logo Image */
    .logo-image {
        display: none;
    }

    /* logo Image */
    .logo-image2 {
        width: 92vw;
        max-width: 50vh;
        bottom: 58%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    /* Intro Text */
    #intro-text {
        //font-family: Georgia, serif;
        color: var(--black-color);
        font-size: 1.6vmax;
        position: relative;
        max-width: 50vh;
    }

    /* Arrow Below #intro-text */
    #intro-text::after {
        content: "";
        display: block;
        width: 1.6vmax;
        height: 1.6vmax;
        border-right: 0.3vmax solid var(--black-color);
        border-bottom: 0.3vmax solid var(--black-color);
        transform: rotate(45deg);
        margin: 2vmax auto 0;
    }

    /* Intro Title */
    #intro-title {
        color: var(--black-color);
        font-size: 4.2vmax;
        line-height: 117%;
        margin-top: 5vmax;
        margin-bottom: 3.5vmax;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        max-width: 50vh;
    }

    .cover-image {
        display: none;
    }

    /* Navigation Bar Styles */
    .nav-container {
        width: 100vw;
        position: absolute;
        justify-content: center;
        padding: 0;
        margin: 0;
        top: 1%;
    }

    #intro-container {
        --container-width: 95%;
        position: absolute;
        top: 69%;
        transform: translate(-50%, -50%);
        padding: vw;
        display: flex;
        left: 50%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 4;
    }

    /* Parallax Image */
    .paralex-image {
        display: none;
    }

    /* Underline pseudo-element */
    .brown-cover::before {
        content: "";
        position: absolute;
        background-color: var(--black-color);
        width: 100vw;
        height: 6%;
        position: absolute;
        top: 0%;
        transform: translateX(-50%);
        left: 50%;
    }

    .brown-cover {
        //: var(--warm-brown-color);
        opacity: 1;
        width: 45vw;

        /* Slightly smaller width */
        height: 90%;

        /* Slightly smaller height */
        position: absolute;
        top: 0%;

        /* Centers it vertically */
        transform: translateX(-50%);
        left: 50%;

        /* Adds a subtle frame effect */
    }

    /* Underline pseudo-element */
    .brown-cover::after {
        content: "";
        position: absolute;
        background-color: var(--black-color);
        width: 100vw;
        height: 11%;
        position: absolute;
        top: 38%;
        transform: translateX(-50%);
        left: 50%;
    }

    .portfolio-section-1 {
        background-color: var(--light-gray-color);
    }
}

/* cover Image */
.cover-image {
    height: 100vh;
    left: 50%;

    /* Center horizontally */
    transform: translateX(-50%);

    /* Adjust position to account for the element's width */
    bottom: 0px;
    position: absolute;
}

.intro-container {
    flex-direction: column;

    /* Stack elements vertically */
    gap: calc((100vh - 2 * var(--box-width)) / 3);

    /* Keep original gap for desktop */
}

.quadratic-element,
.text-box {
    width: var(--box-width);

    /* Maintain the same width for mobile */
}

.container-image {
    width: 301%;
    height: auto;
    max-height: 100vh;
    object-position: top center;
}

.intro-container {
    flex-direction: row;

    /* Align elements horizontally */
    gap: calc((100vw - 2 * var(--box-width)) / 3);

    /* Keep original gap for desktop */
}

.quadratic-element,
.text-box {
    width: var(--box-width);

    /* Use dynamic width */
}

/* Hover styles */
.flag:hover,
.flag.active {
    /* Add .active class to match hover styles */
    text-shadow: 0 10px 10px var(--color-shadow);
}

.language-selector {
    position: relative;
}

/* Main Section */
main {
    background: transparent;

    /* Ensure the gradient shows */
}

/* Form Section */
section {
    margin-bottom: 1em;
    padding-bottom: 5em;

    /* Add padding to prevent the footer from covering the form */
    background: transparent;

    /* Let the gradient pass through */
}

/* Form Grouping */
.form-group {
    margin-bottom: 1em;
}

/* Form Container */
form {
    max-width: 600px;

    /* Limit the form width on larger screens */
    margin: 0 auto;

    /* Center the form horizontally */
}

/* Form Elements */
input,
textarea,
button {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    background-color: var(--light-gray-color);
    border: 1px solid var(--black-color);

    /* Dark Charcoal borders */
    border-radius: 5px;
    box-sizing: border-box;
}

/* round Button */
button {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;

    /* Slate Gray background for the button */
    color: var(--black-color);

    /* Light Mint text color for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--medium-gray-color);

    /* Soft Green background on hover */
    color: var(--black-color);

    /* Dark Charcoal text color on hover */
}

/* Footer Section */
footer {
    /* Let the gradient pass through */
    background-color: var(--soft-gray-color);

    /* Light Mint text color in the footer */
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;

    /* Changed to relative to avoid covering content */
    bottom: 0;
}
}
}
}
